
@{
    ViewData["Title"] = "Index";
}

<!-- =========Breadcrumb Start========= -->
<div class="breadcrumb">
    <div class="hdr">
        <h1>About Us</h1>
    </div>
    <div class="content">
        <a href="./index.html"> Home</a>
        <span class="fa fa-arrow-circle-right"></span>
        <span class="page">About Us</span>
    </div>
</div>
<!-- =========Breadcrumb End========= -->
<section>
    <div class="kalvi">
        <div class="img">
            <img src="~/assets/image/about03.jpg" alt="">
        </div>
        <div class="content">
            <div class="hdr">
                <div class="div">
                    <h2>We are Edu<strong>Kalvi</strong></h2>
                    <div class="line"></div>
                </div>
                <h6>We are delighted to serve you through EduKalvi!</h6>
            </div>
            <div class="text">
                <p>
                    EduKalvi is a MOOC-<strong>Massive Open Online Course</strong>
                    facilitating theme using which you can aim at unlimited participants
                    who will have open access to the website. We believe teaching is a
                    very noble profession. Something that shapes character, and caliber
                    of an individual. Of all the professions at large, one of the hardest
                    is being a good teacher. EduKalvi helps in the Education process of
                    facilitating learning, or the acquisition of knowledge, skills, values,
                    beliefs, and habits. Formal education may be found in a structured environment.
                    Online learning, on the other hand, is both formal and non-formal!
                </p>
            </div>
            <div class="fansy-list">
                <ul>
                    <li>
                        <i class="fa-solid fa-thumbtack" style="color: #000000;"></i> Igniting your imagination
                    </li>
                    <li>
                        <i class="fa-solid fa-thumbtack" style="color: #000000;"></i> Expanding your  Knowledge
                    </li>
                    <li>
                        <i class="fa-solid fa-thumbtack" style="color: #000000;"></i> Developing  your Skill
                    </li>
                    <li>
                        <i class="fa-solid fa-thumbtack" style="color: #000000;"></i> Investing in your strength
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="help">
        <div class="color"></div>
        <div class="content">
            <h4>Enhance Your Knowledge</h4>
            <h2>
                <strong>
                    We will help you, much more!
                </strong>
            </h2>
            <p>
                If a child or adult can’t learn
                the way we teach, we will quickly move to teaching, <br>
                the way he learns. Because, we know, mistakes are meant
                for learning, not repeating!
            </p>
            <a href="#"> Purchase Now </a>
        </div>
    </div>
</section>

<section>
    <div class="services">
        <div class="header">
            <div class="hdr">
                <div class="line-left"></div>
                <h1>Our <strong>Best Services</strong> </h1>
                <div class="line-right"></div>
            </div>
            <h6>BENEFITS FOR STUDENTS</h6>
        </div>
        <div class="container-abt">
            <div class="left">
                <div class="col">
                    <div class="content">
                        <h4> Entrepreneurship </h4>
                        <p>
                            Best Class aptent taciti sociosqu adClass
                            aptent taciti sociosqu ad litora torquent
                            per we conubia nostra, per inceptos.Class
                            aptent taciti sociosqu adClass aptent taciti
                            sociosqu ad litora.
                        </p>
                    </div>
                    <div class="icon">
                        <div>
                            <i class="fas fa-pencil-ruler fa-2xl" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="col">
                    <div class="content">
                        <h4> Network & Security </h4>
                        <p>
                            Best Class aptent taciti sociosqu adClass
                            aptent taciti sociosqu ad litora torquent
                            per we conubia nostra, per inceptos.Class
                            aptent taciti sociosqu adClass aptent taciti
                            sociosqu ad litora.
                        </p>
                    </div>
                    <div class="icon">
                        <div>
                            <i class="fa-solid fa-book fa-xl" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="col">
                    <div class="icon">
                        <div>
                            <i class="fa-solid fa-computer-mouse fa-2xl" style="color: #ffffff;"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h4> Communications </h4>
                        <p>
                            Best Class aptent taciti sociosqu adClass
                            aptent taciti sociosqu ad litora torquent
                            per we conubia nostra, per inceptos.Class
                            aptent taciti sociosqu adClass aptent taciti
                            sociosqu ad litora.
                        </p>
                    </div>

                </div>
                <div class="line"></div>
                <div class="col">
                    <div class="icon">
                        <div>
                            <i class="fa-solid fa-globe fa-2xl" style="color: #ffffff;"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h4> Operating Systems </h4>
                        <p>
                            Best Class aptent taciti sociosqu adClass
                            aptent taciti sociosqu ad litora torquent
                            per we conubia nostra, per inceptos.Class
                            aptent taciti sociosqu adClass aptent taciti
                            sociosqu ad litora.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

