* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* header .first-hdr {
  background-color: #222222;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70%;
}
* header .first-hdr .hdr-left {
  color: white;
}
* header .first-hdr .hdr-left i {
  margin-right: 10px;
}
* header .first-hdr .hdr-right {
  display: flex;
  gap: 25px;
}
@media only screen and (max-width: 769px) {
  * header .first-hdr {
    display: flex;
    flex-direction: column;
    gap: 40%;
    height: 130px;
    width: 100%;
  }
}
* header .menu {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}
* header .menu .sidebar {
  display: none;
}
* header .menu .sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
* header .menu .sidebar ul li {
  list-style: none;
  margin-left: 40px;
}
* header .menu .sidebar ul li a {
  text-decoration: none;
}
* header .menu .sidebar ul li a span {
  color: #000000;
}
* header .menu .mn-left img {
  width: 300px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
* header .menu .mn-right {
  display: flex;
  gap: 20px;
}
* header .menu .mn-right a {
  text-decoration: none;
}
* header .menu .mn-right a span {
  color: #000000;
}
* header .menu .mn-right ul {
  display: flex;
}
* header .menu .mn-right ul li {
  list-style: none;
  margin-left: 40px;
}
* header .menu .mn-right ul li a {
  text-decoration: none;
}
* header .menu .mn-right ul li a span {
  color: #000000;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  * header .menu {
    display: flex;
    flex-direction: column;
    gap: 20%;
    height: 130px;
    width: 100%;
  }
}
@media only screen and (max-width: 484px) {
  * header .menu {
    display: flex;
    flex-direction: column;
    gap: 20%;
    height: 130px;
    width: 100%;
  }
  * header .menu .mn-right {
    display: none;
  }
  * header .menu .sidebar {
    display: block;
  }
}
* footer .footer-container {
  display: flex;
  flex-direction: row;
}
* footer .footer-container .ftr {
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
* footer .footer-container .ftr .ft-ln {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  height: 100px;
  align-items: center;
  margin-left: 40px;
}
* footer .footer-container .ftr .ft-ln .line {
  border-top: 5px solid rgb(255, 234, 0);
  width: 80px;
}
* footer .footer-container .ftr-first {
  background-color: rgba(240, 240, 240, 0.4549019608);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* footer .footer-container .ftr-first img {
  width: 300px;
  margin-top: 50px;
}
* footer .footer-container .ftr-first p {
  width: 300px;
}
* footer .footer-container .ftr-first .info-container {
  width: 300px;
}
* footer .footer-container .ftr-first .dotted {
  border-top: 1px dashed;
  clear: both;
  display: block;
  float: left;
  margin: 20px 0;
  width: 100%;
}
* footer .footer-container .ftr-second {
  background-color: #f0f0f0;
}
* footer .footer-container .ftr-second .ftr-link {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
* footer .footer-container .ftr-second .ftr-link ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
* footer .footer-container .ftr-second .ftr-link ul li {
  list-style: none;
  margin-left: 40px;
}
* footer .footer-container .ftr-second .ftr-link ul li a {
  text-decoration: none;
  color: #000000;
}
* footer .footer-container .ftr-third {
  background-color: rgba(240, 240, 240, 0.4549019608);
}
* footer .footer-container .ftr-third ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
* footer .footer-container .ftr-third ul li {
  list-style: none;
  margin-left: 40px;
}
* footer .footer-container .ftr-third ul li a {
  text-decoration: none;
  color: #000000;
}
@media only screen and (max-width: 484px) and (min-width: 200px) {
  * footer .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  * footer .footer-container .ftr {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  * footer .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  * footer .footer-container .ftr {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
* footer .last-footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
* footer .last-footer .ft-icon {
  display: flex;
  gap: 20px;
}
* footer .last-footer .ft-icon i:hover {
  color: rgb(255, 234, 0) !important;
}
* main {
  width: 100%;
}
* main section .login-container {
  background-color: rgba(225, 152, 225, 0.1176470588);
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* main section .login-container .login-title {
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 26px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* main section .login-container .login-title .line {
  background-color: #ffcc21;
  width: 47px;
  height: 4px;
}
* main section .login-container .login-title h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}
* main section .login-container .login-title h2 span strong {
  color: #40c4ff;
}
* main section .login-container .login-form-holder {
  width: 40%;
}
* main section .login-container .login-form-holder .forget-pwd a {
  color: #40c4ff;
  text-decoration: none;
}
* main section .login-container .login-form-holder .other-option a {
  color: #40c4ff;
  text-decoration: none;
}
* main section .login-container .login-form-holder form p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
* main section .login-container .login-form-holder form p label {
  font-weight: 300;
  margin-bottom: 10px;
  width: 100%;
  letter-spacing: 0.3px;
  font-size: 18px;
}
* main section .login-container .login-form-holder form p input {
  color: #b4aab4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 14px 12px;
  width: 100%;
  font-size: 16px;
  vertical-align: middle;
}
* main section .login-container .login-form-holder form p input:focus {
  outline: none;
}
* main section .login-container .login-form-holder form .login-remember {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 200px;
}
* main section .login-container .login-form-holder form .login-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
* main section .login-container .login-form-holder form .login-submit input {
  width: 60%;
  color: #000000;
  padding: 20px 130px;
  text-align: center;
  background-color: #ffcc21;
  border: none;
  transition: all 0.3s linear;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
* main section .login-container .login-form-holder form .login-submit input:hover {
  background-color: #40c4ff;
  color: #ffffff;
}
* main section .login-container .social-logins-container {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 30px 30px;
  vertical-align: middle;
  text-align: center;
  width: 40%;
}
* main section .login-container .social-logins-container a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  margin: 0 20px 0 0;
  padding: 10px 15px 10px 40px;
  position: relative;
  border-radius: 5px;
  width: 45%;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s linear;
}
* main section .login-container .social-logins-container a:hover {
  background-color: #40c4ff;
}
* main section .login-container .social-logins-container .facebook {
  background-color: #2d4373;
}
* main section .login-container .social-logins-container .google {
  background-color: #c23321;
}
* main section .login-container .social-logins-container .logins-divider {
  position: relative;
  top: -40px;
}
* main section .login-container .social-logins-container .logins-divider span {
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  padding: 10px 10px;
  font-weight: 600;
}/*# sourceMappingURL=login.css.map */