@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="containerrr" style="width:99%;" >
    <div class="row" style="display:flex; align-items:center; justify-content:center; background-color:aliceblue; padding-top:150px; padding-bottom:150px;">

        <div class="col-md-4">
            <h1>ForgotPassword</h1> <br /> <br />
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

